
@import 'variables.scss';

html, body, button {
    font-family: 'Raleway', sans-serif;

}

body {
    background-color: $background;
}

h1, h2, h3, h4, h5, h6 {
font-family: Ubuntu;
color: $text;
font-weight: 700;
}

ul {
    list-style-type: none;
}

li {
    padding:20px;
}

.flip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

button {
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    outline: 0;
    font-family: inherit;

    &:hover {
        background-color: #1b1b1b;
        color: #ffffff;
    }
  }


.shrink-enter-active, .shrink-leave-active {
transition: opacity .5s;
}
.shrink-enter, .shrink-leave-to /* .fade-leave-active below version 2.1.8 */ {
opacity: 0;
}